
nav .fixedMenu{
    position: fixed;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
.fixedMenu > nav > a{
    text-decoration: none;
    color: #fff;
    margin-left: 50px;
    line-height: 50px;
}
.fixedBackground{
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
