*{
  margin: 0px;
  padding: 0px;
}
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
article, aside, footer, header, nav, section { display: block; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

.cabesa, .cuerpu aside, .peus{
  background-color: #f16529;
  padding-bottom: 10px;
  border-bottom: 20px solid #e44d26;
  margin-bottom: 30px;
  color: white;
}
.peus{
  border-bottom: 0;
  border-top:20px solid #e44d26;
}
.cuerpu aside{
  background-color: #f16529;
  padding-top: 10px;
  border-top: 20px solid #e44d26;
  border-bottom: 0px solid #f16529;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.wrapper{
	width:90%;
	margin:0 5%;
}

#peus{
	padding:30px 0;
}

#main aside{
	color:white;
	padding:0px 5% 10px;
}

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

.nav {
	display:block;
	padding:25px 0;
	background-color:#e44d26;
	color:white;

	text-align:center;
	text-decoration:none;

}

.nav a:hover, .nav a:visited{
	color:white;
}

.nav a:hover{
	text-decoration:underline;
}
