*{
	margin:0px;
	padding:0px;
	font-family: helvetica Neue;
	font-weight: lighter;
}

html,body{
	background-color: #e2e2e2;
}

section#formulario{
	position: absolute;
	top:50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -300px;
	width:400px;
	min-height: 100px;
	background-color: white;
	overflow: hidden;
	border-radius: 5px;
}

p#titulo{
	font-size: 1.6em;
	text-align: center;
	margin-top: 20px;
	margin-bottom:20px;
}
p#info{
	text-align:center;
}