#comingsoon{
    background: url('../images/background_coming_soon.jpg') no-repeat top center #272727;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 200px;
    font-family: 'Lato', sans-serif;
}

#informations{
    background: url('../images/background_explications.jpg') no-repeat top center #272727;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 200px;
    font-family: 'Lato', sans-serif;
}

a{
    color: #fff;
}

.center{
    text-align: center;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: #272727;
}
.nav>li>a:focus, .nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
nav{
    margin-top: 30px;
}

.dropdown-menu{
    background-color: rgba(0,0,0,.4);
    border: 1px solid rgba(0,0,0,.15);
}
.dropdown-menu>li>a {
    color: #fff;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0,0,0,.5);;
}
.dropdown .caret {
    color: #aaa;
}


.video img{
    width: 100%;
}

.social-icons{
    padding-top: 20px;
    padding-bottom: 20px;
}
.social-icons .social-icon{
    padding: 0 10px;
}

.comingsoon-content{
    background-color: rgba(0,0,0,.4);
    padding: 15px 0;
    color: #d6d6d6;
}

.comingsoon-content .content{
}

.chrono-div{
    margin: 20px;
}
.background-chrono{
    background: url('../images/background_chrono.png') center center no-repeat transparent;
    min-height: 140px;
    margin: 0 -20px;
}
.chrono-div .chrono {
    color:#aee9ec;
    text-transform: uppercase;
    font-weight: 400;
    color:#aee9ec;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.33);
}
.chrono-div .chrono #chrono{
    font-size:61px;
    line-height: 140px;
}
.chrono-div .chrono .chrono-small{
    font-size: 26px;
    bottom: 10px;
    position: relative;
    margin-left: 15px;
}

.btn.btn-blue-sky{
    background-color: #aee9ec;
    color: #1b1b1b;
    font-size: 18px;
    padding: 5px 60px;border-radius: 6px;
}

.info-title{
    background: url('../images/background_chrono.png') center center no-repeat transparent;
    min-height: 140px;
}

.info-title-content{
    line-height: 140px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 200;
    color: #ffffff;
}
.text-info{
    font-size:14px;
    color: #aaaaaa;
}

.services{
    list-style: none;
    margin: 0;
    padding: 0;
}


.services li{
    list-style: none;
    padding: 0 0 35px 70px;
    min-height: 80px;
    background-position: 5px top;
    background-repeat: no-repeat;
    background-color: transparent;
}
.services li.adjust-top{
    padding-top: 8px;
}
.services li.service-certificate{
    background-image: url('../images/icon_certificate.png');
}
.services li.service-dev{
    background-image: url('../images/icon_dev.png');
}
.services li.service-dot{
    background-image: url('../images/icon_dot.png');
}
.services li.service-app{
    background-image: url('../images/icon_app.png');
}
.services li.service-key{
    background-image: url('../images/icon_key.png');
}
.services li.service-lang{
    background-image: url('../images/icon_lang.png');
}
.services li.service-account{
    background-image: url('../images/icon_account.png');
}
.services li.service-ssl{
    background-image: url('../images/icon_ssl.png');
}

.services li.service-star{
    background-image: url('../images/icon_star.png');
}

.tag{
    font-size: 28px;
    font-weight: 200;
    color:#aee9ec;
    text-shadow: 0px 0px 18px rgba(255, 255, 255, 0.43);
    padding: 0 10px;
}

.quote{
    color:#aaa;
    font-size: 18px;
    position: relative;
    padding: 0 50px;
    margin-top: 80px;
}
.quote:before{
    content:" ";
    display: block;
    width: 50px;
    position: absolute;
    left: 5px;
    top: -20px;
    height: 50px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url('../images/quote_left.png');
}
.quote:after{
    content:" ";
    display: block;
    width: 50px;
    position: absolute;
    right: 5px;
    bottom: -20px;
    height: 50px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url('../images/quote_right.png');
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

#chrono{
    letter-spacing: -3px;
}

#chrono .countDiv {
    display: inline-block;
    width: 16px;
    height: 1.6em;
    position: relative;
}
#chrono .position{
    display: inline-block;
    height: 64px;
    top: 10px;
    line-height: 60px;
    overflow: hidden;
    width: 35px;
    position: relative;
}

#chrono .digit{
    position: absolute;
    display: block;
    width: 36px;
    border-radius: 0.2em;
    text-align: center;
    letter-spacing: -1px;
}

#chrono .digit.static{

}


#chrono .countDays{ /* display:none !important;*/ }
#chrono .countDiv0{ /* display:none !important;*/ }
#chrono .countHours{}
#chrono .countDiv1{}
#chrono .countMinutes{}
#chrono .countDiv2{}
#chrono .countSeconds{}


#chrono .countDiv{
    display:inline-block;
    width:20px;
    height:66px;
    position:relative;
}

#chrono .countDiv:before,
#chrono .countDiv:after{
    position:absolute;
    width:5px;
    height:5px;
    background-color:#aee9ec;
    border-radius:50%;
    left:50%;
    margin-left:-3px;
    top:0.5em;
    box-shadow:0px 0px 18px rgba(255,255,255, 0.33);
    content:'';
}

#chrono .countDiv:after{
    top:0.9em;
}

@media screen and (max-width: 768px) {
    .chrono-div {
        margin: 20px 0;
    }
    .chrono-div .chrono .chrono-small {
        display: block;
        line-height: 0px;
        margin-bottom: 30px;
    }
    .titans .text-info{
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 500px) {
    .chrono-div .chrono #chrono {
        font-size: 40px;
    }
    #chrono .digit {
        width: 25px;
    }
    #chrono .position {
        width: 25px;
        top: 20px;
    }
    #chrono .countDiv {
        height: 43px;
        width: 15px;
    }
}