.camporegistro {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-style: normal;
}


.titulo {
    background-color: #FFCC99;
}
.error {
    color: #FF0000;
}

ul {
  list-style-type: none;
  text-align: center
}

li {
  background-color: #FFFFFF;
  display: inline;
  
}

th {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #CCFFCC;
    border: none;
}
td {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: #000;
    background-color: #CCC;
}
a:link {
    text-decoration: none;


}
a:hover {
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
}