/* Fonts */

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype'),
    url('../fonts/Lato-Light.svg#Lato-Italic') format('svg'),
    url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-LightItalic';
    src: url('../fonts/Lato-LightItalic.eot');
    src: url('../fonts/Lato-LightItalic.woff2') format('woff2'),
    url('../fonts/Lato-LightItalic.woff') format('woff'),
    url('../fonts/Lato-LightItalic.ttf') format('truetype'),
    url('../fonts/Lato-LightItalic.svg#Lato-Italic') format('svg'),
    url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype'),
    url('../fonts/Lato-Regular.svg#Lato-Italic') format('svg'),
    url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.eot');
    src: url('../fonts/Lato-Black.woff2') format('woff2'),
    url('../fonts/Lato-Black.woff') format('woff'),
    url('../fonts/Lato-Black.ttf') format('truetype'),
    url('../fonts/Lato-Black.svg#Lato-Italic') format('svg'),
    url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('../fonts/Lato-BlackItalic.eot');
    src: url('../fonts/Lato-BlackItalic.woff2') format('woff2'),
    url('../fonts/Lato-BlackItalic.woff') format('woff'),
    url('../fonts/Lato-BlackItalic.ttf') format('truetype'),
    url('../fonts/Lato-BlackItalic.svg#Lato-Italic') format('svg'),
    url('../fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype'),
    url('../fonts/Lato-Bold.svg#Lato-Italic') format('svg'),
    url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('../fonts/Lato-BoldItalic.eot');
    src: url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
    url('../fonts/Lato-BoldItalic.woff') format('woff'),
    url('../fonts/Lato-BoldItalic.ttf') format('truetype'),
    url('../fonts/Lato-BoldItalic.svg#Lato-Italic') format('svg'),
    url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Italic';
    src: url('../fonts/Lato-Italic.eot');
    src: url('../fonts/Lato-Italic.woff2') format('woff2'),
    url('../fonts/Lato-Italic.woff') format('woff'),
    url('../fonts/Lato-Italic.ttf') format('truetype'),
    url('../fonts/Lato-Italic.svg#Lato-Italic') format('svg'),
    url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/* END Fonts */

/* Global */
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    margin: 0 auto -270px; /* the bottom margin is the negative value of the footer's height */
}
.footer-wrapper, .wrapper .push {
    height: 270px; /* '.push' must be the same height as 'footer' */
}

body{
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    color: #fff;
    background: url('../images//background_body_2.jpg') top center no-repeat rgb(39, 39, 39);;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}


body.homepage{
    background-color: rgb(39, 39, 39);
    background-position: center center ;
    -webkit-background-size: cover;
    background-size: cover;
}


.navbar-toggle .icon-bar{
    background-color: #fff;
    width: 30px;
    height: 5px;
}

a, a:hover, a:focus, a:active{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

li{
    list-style-type: none;
}

.bloc-center{
    float:none;
    margin: auto;
}

.center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

.right{
    float: right;
}

.left{
    float: left;
}

.underline{
    text-decoration: underline;
}

.black-opacity{
    background-color: rgba(0,0,0,0.5);
}
.black-gradient-light{
    background-color: rgba(0, 0, 0, 0.55);
    /*background: rgb(0, 0, 0);*/
    background: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0.55) 25%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.55) 25%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(270deg, rgba(0, 0, 0, 0.55) 25%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(270deg, rgba(0, 0, 0, 0.55) 25%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 25%, rgba(255, 255, 255, 0) 100%);
}
.black-gradient{
    background-color: rgba(0, 0, 0, 0.25);
    /*background: rgb(0, 0, 0);*/
    background: -moz-linear-gradient(270deg, rgba(20, 20, 20, 0.70) 50%, rgba(39, 39, 39, 1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(20, 20, 20, 0.70) 50%, rgba(39, 39, 39, 1) 100%);
    background: -o-linear-gradient(270deg, rgba(20, 20, 20, 0.70) 50%, rgba(39, 39, 39, 1) 100%);
    background: -ms-linear-gradient(270deg, rgba(20, 20, 20, 0.70) 50%, rgba(39, 39, 39, 1) 100%);
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.70) 50%, rgba(39, 39, 39, 1) 100%);
}
.content-block{
    padding: 0 20px 40px 20px;
    min-height: 450px;
}

.title-1{
    color: #fff;
    font-size: 30px;
    font-family: 'Lato-Regular', Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

.title-1-light {
    color: #d6d6d6;
    font-size: 30px;
    font-family: 'Lato-Light', Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

.page-title {
    color: #fff;
    font-size: 28px;
    font-family: 'Lato-Light', Arial, Verdana, sans-serif;
    text-transform: uppercase;
}
.page-subtitle {
    color: #fff;
    font-size: 20px;
    font-family: 'Lato-Regular', Arial, Verdana, sans-serif;
}

.social-icons li{
    float: left;
    padding: 0 20px 0 0;
}

.fa-facebook, .fa-twitter, .fa-youtube{
    font-size: 17px;
}

.btn.btn-primary{
    border-radius: 0;
    background-color: #4a769f;
    border: none;
    outline: none;
}

.btn.btn-primary:focus{
    outline: none;
}

.btn.btn-fullwidth{
    display: block;
    width: 100%;
}
.btn.btn-uppercase{
    font-size: 16px;
    text-transform: uppercase;
}
.btn.btn-border{
    border-bottom: 3px solid #284f73;
}

.btn.btn-orange{
    background-color: #de5f2d;
}
.btn.btn-orange.btn-border{
    border-bottom: 3px solid #c75225;
}

.btn.btn-orange:focus{
    background-color: #b3461c;
}
.btn.btn-orange.btn-border:focus{
    border-bottom: 3px solid #8c3919;
}

.modal-content {
    background-color: #272727;
    border: none;
    border-radius: 0;
}
.modal-content .modal-header .close {
    margin-top: -10px;
    color: #fff;
    opacity: 1;
    font-size: 35px;
    font-weight: normal;
}
.modal-content .modal-header {
    padding: 15px;
    border-bottom: none;
}
.ajax-info{
    background-color: #dff0d8;
    color: #3c763d;
    border-radius: 2px;
    display: block;
    padding: 2px 5px;
    margin: 3px 0;
    font-weight: normal;
}
.ajax-info.error {
    background-color: #f2dede;
    color: #a94442;
}

.pagination > li > a, .pagination > li > span{
    color: #fff;
    background-color: transparent;
    border: transparent;
    padding: 3px 9px;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus{
    color: #fff;
    background-color: #337ab7;
    border-color: transparent;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus{
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span{
    font-size: 0;
}

.pagination > li:first-child > a::before, .pagination > li:first-child > span::before{
    content:"\f053";
    font-family: FontAwesome;
    font-size: 14px;
}

.pagination > li:last-child > a::after, .pagination > li:last-child > span::after{
    content:"\f054";
    font-family: FontAwesome;
    font-size: 14px;
}
.icon-enveloppe{
    background: url('../images/icon-enveloppe.png') no-repeat center center transparent;
    line-height: 15px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -3px 0;
}
.icon-plus-round{
    background: url('../images/icon-plus-round.png') no-repeat center center transparent;
    line-height: 15px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -3px 0;
}
.icon-arrow{
    background: url('../images/icon-arrow.png') no-repeat center center transparent;
    line-height: 15px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -3px 0;
}
.icon-chrono{
    background: url('../images/icon-chrono.png') no-repeat center center transparent;
    line-height: 16px;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -3px 0;
}

.icon-extension{
    width: 35px;
    height: 42px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline-block;
    float: left;
    margin-right: 5px;
}
.icon-extension.extension_1{
    background-image: url('../images/extensions/icon-extension-1.png');
}
.icon-extension.extension_2{
    background-image: url('../images/extensions/icon-extension-2.png');
}
.icon-extension.extension_3{
    background-image: url('../images/extensions/icon-extension-3.png');
}
.icon-extension.extension_4{
    background-image: url('../images/extensions/icon-extension-4.png');
}
.icon-extension.extension_5{
    background-image: url('../images/extensions/icon-extension-5.png');
}
.icon-extension.extension_6{
    background-image: url('../images/extensions/icon-extension-6.png');
}
.icon-extension.extension_7{
    background-image: url('../images/extensions/icon-extension-7.png');
}
.icon-search{
    background: url('../images/forum/icon-loupe.png') no-repeat center center transparent;
    line-height: 15px;
    display: inline-block;
    width: 45px;
    height: 34px;
    margin: 0;
}

.icon-folder{
    background: url('../images/forum/icon-folder.png') no-repeat center center transparent;
    line-height: 15px;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: -4px 10px -4px 0;
}

.icon-guild{
    background: url('../images/forum/icon-guild.png') no-repeat center center transparent;
    line-height: 15px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -3px 0;
}

.input-search{
    padding: 0;
    display: inline-block;
}

.input-search input{
    border-radius: 0;
}

.icon-coin{
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-bottom: -3px;
    display: inline-block;
    background-color: #c99311;
    border: 2px solid #d2b023;
    border-radius: 10px;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 15px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

.autocomplete > ul > li {
    color: #666666;
}
body.modal-open {
    overflow: auto;
    padding-right: 0 !important;
}
/* END Global */

/* Messages d'alerte */
#alert-messages{
    position: fixed;
    width: 100%;
    z-index: 5000;
}

#alert-messages .alert{
    border-radius: 0;
    padding: 10px 20px;
}
.alert-danger {
    background-color: #aa0000;
    border: none;
    color: #ffffff;
}
.alert-success {
    background-color: #68aa2f;
    border: none;
    color: #ffffff;
}

/* END Messages d'alerte */

/* Header */
.navbar.logo-only{
    margin-bottom: 110px;
}

.homepage .header-wrapper{
    background: url('../images/header/background_home.jpg') center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.header-wrapper .container{
    position: relative;
    z-index: 100;
}

#header .links{
    background-color: rgba(0,0,0,0.5);
    padding-left: 0;
}

#header .logo {
    width: 255px;
    margin: auto;
    position: relative;
}

#header .logo a {
    position: absolute;
    top: -60px;

}

#header .nav-wrapper{
    margin-top: 20px;
}

#header ul.dropdown-menu{
    background-color: rgba(0,0,0,0.5);
}

#header ul.dropdown-menu li a:hover{
    background-color: rgba(0,0,0,0.8);
}

#header .switcher ul.dropdown-menu{
    right: 0;
}

#header ul li a{
    color: #fff;
}

#header ul.links li{
    display: block;
    padding: 12px 20px;
    float: left;
}

#header ul.links.right > li{
    border-left: 1px solid rgba(0,0,0,0.2);
}
#header ul.links.left > li{
    border-right: 1px solid rgba(0,0,0,0.2);
}

#header ul > li.account{
    position: relative;
    padding-left: 54px;
    width: 170px;
}
#header ul > li.account a img.avatar{
    position: absolute;
    height: 44px;
    top: 0;
    left: 0;
    padding-right: 44px;
}

#header ul.links.left > li:nth-child(4){
    position: relative;
    border-right: 0;
    width: 95px;
}
#header ul.links.left > li:nth-child(4)::after{
    border-left: 0;
    border-right: 21px solid transparent;
    border-top: 44px solid rgba(0,0,0,0.5);
    content: "";
    height: 0;
    position: absolute;
    right: -21px;
    top: 0px;
    width: 0;
}
#header ul.links.right > li:nth-child(1){
    position: relative;
    border-left: 0;
    width: 41px;
}

#header ul.links.right > li:nth-child(1)::before{
    border-left: 20px solid transparent;
    border-right: 0;
    border-top: 44px solid rgba(0,0,0,0.5);
    content: "";
    height: 0;
    position: absolute;
    left: -20px;
    top: 0px;
    width: 0;
}

#header ul.links.right > li.orange-bg{
    background-color: #df5f2e;
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

#header #dropdown-nav .dropdown-menu{
    border-radius: 0;
    border: none;
    margin-top: 0;
    right: -1px;
}

#header #dropdown-nav .dropdown-menu > li{
    padding: 0px 5px;
    width: 100%;
}
#header #dropdown-nav .dropdown-menu > li a{
    padding: 10px 20px;
}

#header .states{
    margin-top: 20px;
}

.homepage-states span{
    padding: 0 20px 0 0;
    color: #fff;
}
.homepage-states .fa.status-1, .status-page .fa.status-1 {
    color: #89c318;
}
.homepage-states .fa.status-2, .status-page .fa.status-2 {
    color: #ec661d;
}
.homepage-states .fa.status-3, .status-page .fa.status-3 {
    color: #aa0000;
}

#header .row.ht{
    margin-top: 150px;
    margin-bottom: 150px;
    height: 200px;
}
#header .header-texte {
    padding: 10px 20px;
}

#header .header-texte .header-texte-content{
    text-align: justify;
    line-height: 15px;
}
#header .header-texte .header-texte-title{
    text-transform: uppercase;
    font-size: 28px;
    line-height: 30px;
    padding-bottom: 10px;
}

#slider-nav{
    margin-bottom: 50px;
}

.nav-dots i{
    float: left;
    padding-right: 5px;
    color: grey;
    cursor: pointer;
}

.nav-dots .active i{
   color: #fff;
}

.homepage-videos-container .homepage-videos{
    width: 100%;
}

.homepage-videos .small-video{
    display: block;
    height: 181px;
    width: 100%;
}

.homepage-videos .dl-launcher{
    background: url('../images/header/telecharger_launcher.jpg') no-repeat;
    height: 220px;
    padding: 15px 0 0 10px;
}

.homepage-videos .dl-launcher .title{
    color: #fff;
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}

.homepage-videos .dl-launcher ul{
    padding: 0 0 12px 20px;
}

.homepage-videos .dl-launcher ul li{
    color: #dbdbdb;
    font-family: "Lato-Light", Arial, Verdana, sans-serif;
    font-size: 18px;
}

.homepage-videos .dl-launcher ul li i{
    font-size: 11px;
}

.homepage-videos .dl-launcher .button{
    background-color: #4b76a0;
    box-shadow: 0 3px #274f73;
    text-align: center;
    padding: 6px;
}

.homepage-videos .dl-launcher .button a{
    color: #fff;
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    font-size: 28px;
}

.homepage-videos-container .homepage-videos .video-title{
    background: #000;
    padding: 10px;
}

.homepage-videos-container .homepage-videos .v-title{
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
}

.homepage-videos-container .homepage-videos .v-subtitle{
    font-family: "Lato-LightItalic", Arial, Verdana, sans-serif;
}

.homepage .middle{
    width:100%;
    background:rgb(39,39,39);
    height:1px;
    position:relative;
    margin-top: 50px;
}

.homepage .middle:before{
    position:absolute;
    top:-300px;
    content:" ";
    width:100%;
    height:300px;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(270deg, rgb(39,39,39) 5%, rgba(255, 255, 255,0) 100%);
    background: -webkit-linear-gradient(270deg, rgb(39,39,39) 5%,rgba(255, 255, 255,0) 100%);
    background: -o-linear-gradient(270deg, rgb(39,39,39) 5%, rgba(255, 255, 255,0) 100%);
    background: -ms-linear-gradient(270deg, rgb(39,39,39) 5%, rgba(255, 255, 255,0) 100%);
    background: linear-gradient(0deg, rgb(39,39,39) 5%, rgba(255, 255, 255,0) 100%);
}
.homepage .middle:after{
    position:absolute;
    bottom:-300px;
    content:" ";
    width:100%;
    height:300px;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(90deg, rgb(39,39,39) 5%, rgba(255, 255, 255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgb(39,39,39) 5%,rgba(255, 255, 255,0) 100%);
    background: -o-linear-gradient(90deg, rgb(39,39,39) 5%, rgba(255, 255, 255,0) 100%);
    background: -ms-linear-gradient(90deg, rgb(39,39,39) 5%, rgba(255, 255, 255,0) 100%);
    background: linear-gradient(180deg, rgb(39,39,39) 5%, rgba(255, 255, 255,0) 100%);
}
#header .dropdown .caret{
    margin-left: 4px;
    color: #949494;
}
#header .switcher > li{
    display: inline-block;
    padding: 5px 10px 0 0;
}
#header .switcher > li.assistance{
    padding-right: 20px;
}

#header .switcher > li.assistance .fa{
    font-size: 16px;
}

#credits-menu {
    background-color: rgba(0,0,0,0.5);
    margin: -1px -4px 0 0;
    border-radius: 0;
    padding: 10px;
    width: 450px;
    min-width: 460px;
}

#credits-menu .extensions{
    margin-bottom: 15px;
    height: 42px;
    text-align: center;
}
#credits-menu .extension{
    line-height: 42px;
    padding-right: 10px;
    display: inline-block;
}
#credits-menu .vote-points{
    margin-top: 10px;
    margin-bottom: 10px;
}
#credits-menu .btn{
    width: 100%;
}
#credits-menu .btn.btn-grey{
    background-color: #434142;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

    /*************** Login / Register **************/

.col-perso{
    width: 207px;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
}

.col-perso .form-group{
    margin-bottom: 7px;
}

.col-perso .form-control{
    border-radius: 2px;
}

.col-perso label{
    font-weight: normal;
}

.col-perso .btn.btn-primary, .col-perso .btn.btn-default{
    width: 100%;
    border-radius: 2px;
}

.col-perso .register-link .btn.btn-default{
    background-color: #414141;
    border-color: #414141;
    color: #fff;
}

.col-perso .or{
    text-align: center;
}

.nav-wrapper #login-wrapper{
    position: relative;
}

.nav-wrapper form.form-login{
    position: absolute;
    right: 0;
    top: 43px;
    display: none;
    z-index: 100;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.login-page .col-perso {
    width: 205px;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    margin: 0 auto;
}

.login-page .panel-body{
    padding: 35px 0;
}
/*************** End Login / Register **********/

/****** Account *********/
.account-page.content-block{
    padding-top: 1px;
}
.account-page th{
    font-weight: normal;
}

.account-page .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgba(0,0,0,0.5);
}

.account-page .title-1-light{
    text-align: center;
    margin: 20px 0;
}

.account-page .page-wrapper{
    padding-top: 0;
}

.account-page .panel-default, .panel{
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.account-page .panel-body{
    padding: 0;
}

.account-page .nav-tabs {
    border-bottom: 0;
    margin-bottom: 25px;
}

.account-page .nav-tabs > li{
    width: 20%;
}

.account-page .nav-tabs > li:hover, .account-page .dropdown-menu li:hover{
    background-color: #4b76a0;
}

.account-page .nav-tabs > li > a {
    margin: 0;
    border: 0;
    border-radius: 0;
    color: #fff;
    background-color: #000;
    text-align: center;
}
.account-page .dropdown-menu > li > a{

    color: #fff;
    background-color: #000000;
    border: #d6d6d6;
    border-bottom-color: transparent;
    cursor: default;
    border-radius: 0;
    padding: 10px 15px;
}

.account-page .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.account-page .dropdown-menu li a.active,
.account-page .dropdown-menu li a:hover,
.account-page .dropdown-menu li a:focus{
    background-color: #4b76a0;
    border: none;
    color: #fff;
}

.account-page .nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.account-page .dropdown-menu li a:hover,
.account-page .dropdown-menu li a:focus{
    background-color: #4b76a0;
}

.account-page .nav-tabs .dropdown-menu {
    padding: 0;
}

.account-page .set-bg, .table-striped > tbody > tr:nth-of-type(odd){
    background-color: rgba(115, 115, 115, 0.13);
}
.account-page .tab-content{
    margin: 0 20px ;
}

.account-page .table-bordered,
.account-page .table-bordered > thead > tr > th,
.account-page .table-bordered > thead > tr > td,
.account-page .table-bordered > tbody > tr > th,
.account-page .table-bordered > tbody > tr > td,
.account-page .table-bordered > tfoot > tr > th,
.account-page .table-bordered > tfoot > tr > td{
    border: 0;
}

.account-page .table-hover > tbody > tr:hover, .table-hover > tbody > tr:hover {
    background-color: rgb(75, 118, 160);
}
.account-page .order-detail{
    cursor: pointer;
}


.account-page .login-page .title-1-light{
    margin: 20px 0;
}

.account-page .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    color: #fff;
}

.account-page .btn-default{
    color: #fff;
    background-color: #434142;
    border-color: #434142;
}

.account-page .btn-full-width{
    border-radius: 0;
    width: 100%;
}

.account-page .main-perso{
    text-align: center;
}

.account-page .main-perso .avatar{
    display: block;
    margin: 10px auto;
    width: 150px;
}

.account-page .main-perso .perso-name{
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
    font-family: 'Lato-Regular', Arial, Verdana, sans-serif;
}

.account-page .main-perso .perso-lvl, .account-page .main-perso .perso-guild{
    display: block;
    font-size: 14px;
    color: #aaaaaa;
    margin-bottom: 10px;
}

.account-page .main-perso .select_character, .account-page .main-perso .merge_account{
    display: block;
    margin: 20px;
    color: #aaa;text-align: center;
}

.account-page .btn-merge{
    color: #d6d6d6;
    background-color: #424141;
    padding: 4px 12px;
}
.account-page .col-content{
    margin-bottom: 25px;
}
.account-page .page-subtitle{
    margin-bottom: 15px;
}

.account-page .info{
    margin-bottom: 15px;
    font-size: 14px;
}
.account-page .info .info-label{
    color: #aaaaaa;
}
.account-page .info .info-value{
    color: #d6d6d6;
    font-family: 'Lato-Bold', Arial, Verdana, sans-serif;
    float: left;
}
.account-page .info a.info-edit{
    color: #4a769f;
    text-decoration: underline;
    float: right;
}

.account-page .btn-credit{
    margin-bottom: 15px;
}
.account-page .small-link{
    color: #aaaaaa;
    text-decoration: underline;
    padding-bottom: 25px;
}
.account-page .vote-points{
    color: #d6d6d6;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 25px;
}
.account-page .vote-points em{
    font-weight: normal;
}

.account-page .vote-points .round{
    float: left;
    border: 3px solid #4a769f;
    background-color: #3a658c;
    height: 22px;
    width: 22px;
    margin-right: 10px;border-radius: 10px;
}

.account-page .help{
    float: right;
    font-size: 16px;
    color: #d6d6d6;
    cursor: pointer;
}

.account-page .money-bloc{
    height: 250px;
    width: 250px;
    position: relative;
    margin: 40px 0;
}
.account-page .money-bloc .circle{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    border: 1px solid #595e63;
    z-index: 1;
}
.account-page .money-bloc .extension{
    padding-top: 40px;
    position: absolute;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 50px;
    text-align: center;
    z-index: 10;
}
.account-page .money-bloc .extension.no_account{
    opacity: 0.4;
}

.account-page .money-bloc .extension_1{
    background-image: url('../images/extensions/icon-extension-1.png');
    top: -20px;
    left: 100px;
}
.account-page .money-bloc .extension_2{
    background-image: url('../images/extensions/icon-extension-2.png');
    top: 25px;
    left: 200px;;
}
.account-page .money-bloc .extension_3{
    background-image: url('../images/extensions/icon-extension-3.png');
    top: 140px;
    left: 215px;
}
.account-page .money-bloc .extension_4{
    background-image: url('../images/extensions/icon-extension-4.png');
    top: 210px;
    left: 155px;
}
.account-page .money-bloc .extension_5{
    background-image: url('../images/extensions/icon-extension-5.png');
    top: 210px;
    left: 50px;
}
.account-page .money-bloc .extension_6{
    background-image: url('../images/extensions/icon-extension-6.png');
    top: 140px;
    left: -15px;
}
.account-page .money-bloc .extension_7{
    background-image: url('../images/extensions/icon-extension-7.png');
    top: 25px;
    left: 2px;
}
.account-page .characters .character{
    border-bottom: 1px solid #3d3f41;
    margin-bottom: 25px;
    padding-bottom: 10px;
}
.account-page .characters .character .avatar{
    float: left;
    width: 140px;
}
.account-page .characters .character .avatar img{
    width: 100%;
}
.account-page .characters .character .character_infos{
    float: left;
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    margin: 15px 15px;
}
.account-page .characters .character .character_infos .character_name{
    font-size: 20px;
    color: #d6d6d6;
    margin-bottom: 20px;
}
.account-page .characters .character .character_infos .character_name .fa-star{
    color: #4B76A0;
}
.account-page .characters .character .character_infos .character_name .fa-star-o{
    color: #aaaaaa;
    cursor: pointer;
}
.account-page .characters .character .character_infos .character_lvl{
    font-size: 14px;
    color: #aaaaaa;
    margin-bottom: 20px;
}
.account-page .characters .character .character_infos .character_guild{
    font-size: 14px;
    color: #aaaaaa;

}
.account-page .characters .character .character_server_infos{
    float: right;
    width: 150px;

}
.account-page .characters .character .server_label{
    font-size: 14px;
    color: #aaaaaa;
}
.account-page .characters .character .server_name{
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #d6d6d6;

}
.account-page .characters .character .server_logo img{
    width: 100%;
}

/****** End Account *********/

/****** Account merge *********/

.register_username_error{
    padding: 20px;
    margin-bottom: 10px;
    background: rgba(255, 191, 91, 0.5);
    text-align: center;
    font-weight: bold;
}

.accounts .account_merge{
    position: relative;
    margin-bottom: 30px;
}
.accounts .account_merge img{
    width: 100%;
}
.accounts .account_name{
    position:absolute;
    top: 5px;
    left: 5px;
}
.accounts .account_merge .merge-btn{
    position: absolute;
    bottom: 5px;
    display: block;
    border: none;
    width: 100%;
}
.accounts .account_merge .btn{
    position: relative;
    margin: 0 5px;
    display: block;
    height: 35px;
    border: none;
    cursor: pointer;
}

.accounts .account_merge .btn:focus{
    outline: none;
}
.accounts .valid_account{
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    color:#6ebb36;
    top: 35%;
}
.accounts .valid_account .fa{
    font-size: 50px;
    display: block;

}
#merge_accounts #next_step, #merge_accounts #validate, #registerForm .btn{
    padding: 6px 40px;
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}
#merge_loader{
    margin: 40px 0;
    display: none;
    text-align: center;
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
}

/****** End Account merge *********/

/****** Account download *********/
.download_content{
    margin-top:30px;
}
.download_content .text{
    margin-top: 40px;
}
.download-buttons .btn{
    font-size: 20px;
    margin-top: 30px;
    border-bottom: 4px solid #284f73;
    padding: 6px 25px;
    width:100%;
}
.download_content .download_image{
    -webkit-box-shadow: 0px 0px 70px 0px rgb(66, 146, 224);
    -moz-box-shadow:    0px 0px 70px 0px rgb(66, 146, 224);
    box-shadow:         0px 0px 70px 0px rgb(66, 146, 224);
    width: 100%;
    border: 1px solid #8eb4bd;
}
/****** End Account download *********/

/* END Header */

/* Page */

.page-wrapper {

}
.homepage .page-wrapper{
    padding-top: 50px;
    background: url('../images/homepageContent/home_bg_content.jpg') bottom center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.page-wrapper .title-1{
    margin-bottom: 40px;
}

.page-wrapper .actu-menu div.actu{
    height: 51px;
    width: 141px;
    float:left;
    cursor: pointer;
    position: relative;
}
.actu-menu .actu.active{
    border: 1px solid #4b76a0;
}
.actu-menu .actu.active:after{
    content:"\f00c";
    color: #fff;
    width: 15px;
    height: 15px;
    position:absolute;
    bottom: 0;
    right: 0;
    font-family: FontAwesome;
    padding: 1px;
    background-color: #4b76a0;
    line-height: 15px;
}

.page-wrapper .actu-menu .actu-all{
    background: url('../images/homepageContent/home_nav_tout.jpg') no-repeat;
}

.page-wrapper .actu-menu .actu-vanilla{
    background: url('../images/homepageContent/home_nav_vanilla.jpg') no-repeat;
}

.page-wrapper .actu-menu .actu-burning-crusade{
    background: url('../images/homepageContent/home_nav_burning_crusade.jpg') no-repeat;
}

.page-wrapper .actu-menu .actu-wotlk{
    background: url('../images/homepageContent/home_nav_wotlk.jpg') no-repeat;
}

.page-wrapper .actu-menu .actu-cataclysm{
    background: url('../images/homepageContent/home_nav_cataclysm.jpg') no-repeat;
}

.page-wrapper .actu-menu .actu-mysts-of-panderia{
    background: url('../images/homepageContent/home_nav_mysts_of_panderia.jpg') no-repeat;
}

.page-wrapper .actu-menu .actu-warlords-of-dreanor{
    background: url('../images/homepageContent/home_nav_warlords_of_dreanor.jpg') no-repeat;
}

.page-wrapper .actu-menu .actu-legion{
    background: url('../images/homepageContent/home_nav_legion.jpg') no-repeat;
}

.page-wrapper .actu-menu div.actu{
    position: relative;
}
.page-wrapper .actu-menu div span{
    width: 75%;
    position:absolute;
    top: 2px;
    left: 10px;
    color: #fff;
}

.page-wrapper .actu-content{
    margin-top: 30px;
}

.page-wrapper .actu-content .actu-big-image{
    margin-bottom: 20px;
}

.page-wrapper .actu-content .actu-big-image img{
    width: 100%;
    border: 1px solid #434343;
}
.page-wrapper .actu-content .small-actu-image{
    border: 1px solid #434343;
}

.page-wrapper .actu-content .actu-content-first-line{
    margin-bottom: 15px;
}

.actu-content .actu-content-first-line .actu-title{
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    color: #d6d6d6;
    margin-right: 15px;
}

.page-wrapper .actu-content .actu-content-first-line .actu-comment-number{
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    color: #4b76a0;
}

.page-wrapper .actu-content .actu-content-first-line .date{
    font-family: "Lato-Italic", Arial, Verdana, sans-serif;
    color: #797979;
}

.page-wrapper .actu-content .read-more{
    background-color: #4b76a0;
    padding: 2px 15px;
}

.page-wrapper .actu-content .small-actu-1, .page-wrapper .actu-content .small-actu-2, .page-wrapper .actu-content .small-actu-3{
    margin-bottom: 20px;
}

.actu-content .small-actu-1 span,
.actu-content .small-actu-2 span,
.actu-content .small-actu-3 span,
.actu-content .actu-big-content .actu-content-second-line{
    color: #aaaaaa;
}

.page-wrapper .actu-content .see-all{
    font-family: "Lato-Light", Arial, Verdana, sans-serif;
    background-color: #1c1c1c;
    color: #d6d6d6;
    text-transform: uppercase;
    padding: 13px;
    margin-bottom: 30px;
}
/* END Page */

/**** Tickets ****/

.ticket-page .title-1-light{
    text-align: center;
    margin: 20px 0;
}
.ticket-page .ticket-description-title, .ticket-page .my-requests{
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;;
    font-size: 20px;
    color: #d6d6d6;
    margin-bottom: 20px;
}

.ticket-page .ticket-description-content{
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;;
    font-size: 14px;
    color: #aaaaaa;
}

.ticket-page .requests-status, .ticket-page .opened-requests, .ticket-page .closed-requests, .ticket-page .my-requests, .ticket-page .my-requests + .col-xs-12{
    padding: 0;
}

.ticket-page .see-more{
    font-family: "Lato-Light", Arial, Verdana, sans-serif;
    background-color: #1c1c1c;
    color: #d6d6d6;
    text-transform: uppercase;
    padding: 10px;
}

.ticket-page .requests-content{
    border-left: 1px solid rgba(214,214,214,0.1);
}

.ticket-page .requests{
    font-family: "Lato-Light", Arial, Verdana, sans-serif;
}

.ticket-page .requests-content .requests-status .closed-requests a{
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #aaaaaa;
}

.ticket-page .requests-content .requests-status .opened-requests a{
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #d6d6d6;
}

.ticket-page .request-wrapper.status-open, .ticket-page .request-wrapper.status-inprogress {
    border-left: 5px solid #4a769f;
}

.ticket-page .request-wrapper.status-close, .ticket-page .request-wrapper.status-cancelled{
    border-left: 5px solid #5e5e5e;
}

.ticket-page .request-wrapper{
    background-color: #414141;
    margin-bottom: 10px;
    padding: 10px;
}

.ticket-page .request-wrapper .btn.btn-primary{
    padding: 2px 12px;
}

.ticket-page .my-requests-status{
    margin-bottom: 20px;
}

.ticket-page .request-wrapper .request-title{
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    font-size: 20px;
    color: #d6d6d6;
    margin-bottom: 10px;
}

.ticket-page .request-wrapper .request-title.small{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
}

.ticket-page .request-wrapper .request-status{
    font-family: "Lato-LightItalic", Arial, Verdana, sans-serif;
    font-size: 20px;
    color: #d6d6d6;
}

.ticket-page .request-wrapper .request-excerpt{
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #aaaaaa;
}

.ticket-page .request-wrapper .request-title-and-status{
    margin-bottom: 5px;
}

.ticket-page .ticket-all{
    margin: 20px;
}

.ticket-page .request-wrapper .col-sm-3, .ticket-page .new-request{
    padding-left: 0;
    padding-right: 0;
}

.show-ticket-page .title-1-light{
    margin-bottom: 30px;
}

.show-ticket-page .ticket-infos{
    border-bottom: 1px solid #aaaaaa;
    padding: 10px;
}

.show-ticket-page .ticket-infos .label, .ticket-messages-write-by{
    font-family: "Lato-Light", Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

.show-ticket-page .answer-ticket, .show-ticket-page .see-all-tickets, .ticket-page .return-index{
    font-family: "Lato-Light", Arial, Verdana, sans-serif;
    background-color: #1c1c1c;
    color: #d6d6d6;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
}
.show-ticket-page .answer-ticket.btn.btn-primary:focus, .show-ticket-page .answer-ticket.btn.btn-primary:active
.show-ticket-page .see-all-tickets.btn.btn-primary:focus, .show-ticket-page .see-all-tickets.btn.btn-primary:active
.ticket-page .return-index.btn.btn-primary:focus, .ticket-page .return-index.btn.btn-primary:active{
    background-color: #1c1c1c;
}

.show-ticket-page .ticket-messages.body{
    background-color: #414141;
    margin: 10px 0;
    padding: 10px;
}

.show-ticket-page .ticket-messages-label{
    border-bottom: 1px solid #aaaaaa;
    padding: 10px;
}

/**** END Tickets ****/

/**** Votes ****/

.vote-page .col-1{
    border-right: 1px solid rgba(214,214,214,0.1)
}
.vote-page .vote-site-wrapper{
    display: flex;
    height: 100px;
    background-color: #414141;
    padding: 10px;
    margin: 20px;
}

.vote-page .vote-site-wrapper .vote-site-img{
    height: 80%;
}

.vote-page .vote-site-wrapper .vote-site-img img{
    height: 100%;
}

.vote-page .vote-site-title, .vote-page .vote-button-span, .vote-page .vote-site-img{
    margin: auto;
}

.vote-page .vote-site-vote-button{
    display: block;
    background-color: #4a769f;
    text-align: center;
    padding: 5px;
}

.vote-page .vote-points .round{
    float: left;
    border: 3px solid #4a769f;
    background-color: #3a658c;
    height: 22px;
    width: 22px;
    margin-right: 10px;border-radius: 10px;
}

.vote-page .vote-points, .vote-page .confert-vote-points-link{
    padding: 0;
    margin-top: 15px;
}

.vote-page .confert-vote-points-link a{
    text-decoration: underline;
}

.vote-page .vote-site-title, .vote-page .yourpoints, .vote-page .top-vote .title{
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    font-size: 20px;
    color: #d6d6d6;
}

.vote-page .vote-button-span .ivote{
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    font-size: 18px;
}

.vote-page .vote-button-span .votepoints, .vote-page .vote-points em{
    font-family: "Lato-Italic", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #d6d6d6;
}

.vote-page .vote-points{
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #d6d6d6;
}

.vote-page .small-link{
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #aaaaaa;
}

.vote-page .top-vote{
    margin-right: 20px;
}
.vote-page .vote-site-vote-button .ivote{
    display: block;
}

.vote-page .top-vote-users{
    display: inline-block;
    margin-left: 15px;
}

.vote-page .top-vote sup{
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    font-size: 12px;
    color: #d6d6d6;
    border: 1px solid;
    border-radius: 50%;
    padding: 0 5px 0 5px;
    height: 20px;
    width: 20px;
    display: inline-block;
    line-height: 18px;
}

.vote-page .top-vote .top-vote-user-name{
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #d6d6d6;
}

#convertVotesModal .vote-points{
    font-size: 14px;
    color: #d6d6d6;
    margin-bottom: 10px;
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
}
#convertVotesModal .extension_name{
    height: 42px;
    line-height: 42px;
    display: block;
}
#convertVotesModal .extension > div{
    line-height: 42px;
}
#convertVotesModal .extension{
    border-bottom: 1px solid rgba(243,243,243,0.1);
    margin: 5px 0;
    padding-bottom: 5px;
}

/**** END Votes ****/

/**** Post ****/
.post-page .title-1-light, .post-index .title-1-light{
    margin-bottom: 20px;
    padding-top: 10px;
}
.post-page .actu-top-image{
    margin-bottom: 10px;
}
.post-page .actu-top-image img{
    width: 100%;
    border: 1px solid #434343;
}
.post-page .actu .page-subtitle {
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    font-size: 20px;
    color: #d6d6d6;
}
.post-page .actu .page-subtitle .actu-comment-number{
    font-size: 12px;
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    color: #4b76a0;
}
.post-page .actu .page-subtitle .date{
    font-size: 12px;
    font-family: "Lato-Italic", Arial, Verdana, sans-serif;
    color: #797979;
}
.post-page .actu .actu-content{
    margin-top: 15px;
    padding-bottom: 10px;
    margin-bottom:0px;
    font-size: 14px;
    color: #aaaaaa;
}

.post-page .border-bottom{
    margin-top:20px;
    margin-bottom:30px;
    border-bottom: 1px solid #666;
}
.actu-comments .page-subtitle{
    margin-bottom: 20px;
}
.actu-comments .actu-comment-number{
    color: #4b76a0;
}
.actu-comments .avatar{
    width: 100%;
}
.post-page .user_name{
    color: #d6d6d6;
    font-size: 14px;
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    margin-bottom: 5px;
}
.post-page .user_comment{
    color: #aaaaaa;
    font-size: 14px;
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
}
form.post-comment-form {
    border-radius: 0;
}
form.post-comment-form textarea{
    border-radius: 0;
    background-color: #ccc;
    resize:none;
}
form.post-comment-form .btn{
    margin-top: 20px;
}
.post-index .actu-menu{
    margin: 20px 0 40px 0;
    height: 52px;
}
.post-index .actu-menu .actu{
    width: 12.5%;
    display: block;
    height: 52px;
    float: left;
    padding: 5px;
    position: relative;
}
.post-index .actu-content .actu{
    margin-bottom: 20px;
}
.actu-content .actu .actu-content-second-line {
    color: #aaaaaa;
}
.post-index .actu .actu-image img{
    max-width: 100%;
    border: 1px solid #434343;
}

/**** END Post ****/

/* Status */

.status-page .page-subtitle{
    border-bottom: 1px solid #666;
    margin-left: 40px;
    margin-bottom: 10px;
}
.status-page .extension{
    padding-top: 10px;
    margin-bottom: 10px;
}
.status-page .extension_status li{
    padding-bottom: 10px;
}
.status-page .kingdoms{
    padding-top: 10px;
}
.status-page .kingdoms li{
    padding-bottom: 10px;
}
/* END Status */

/* Shop */
.shop-breadcrumb{
    margin-bottom: 20px;
}
.shop-breadcrumb a{
    color: #d6d6d6;
}
.shop-breadcrumb .fa.fa-caret-down{
    color: #949494;
    font-size: 12px;
}
.shop-breadcrumb .dropdown-menu{
    background-color: rgba(0,0,0,0.7);
    border-radius: 0;
}
.shop-breadcrumb .dropdown-menu > li > a {
    color: #d6d6d6;
}
.shop-breadcrumb .dropdown-menu > li > a {
    color: #d6d6d6;
    background-color: rgba(0,0,0,0.9);
}

.shop-categories {
    padding: 0;
}

.shop-categories li{
    padding: 0;
    border: 1px solid #434343;
    margin: 5px 0;
}

.shop-categories li a{
    display: block;
    height: 40px;
    line-height: 32px;
    width: 100%;
    padding: 3px 5px;
    font-size: 14px;
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
}

.shop-categories li a img{
    border: 1px solid #434343;
    margin-right: 10px;
}
.shop-categories li a .fake-img{
    height: 30px;
    width: 30px;
    border: 1px solid #434343;
    margin-right: 10px;
    display: block;
    float: left;
    margin-top: 1px;
    box-sizing: content-box;
}
.shop-categories li.active a{
    background-color: rgba(103, 103, 103, 0.29);
}

.shop-categories li a:hover{
    background-color: rgba(0,0,0,0.1);
}


.shop-page{
    position: relative;
}
.shop-page #wallet, .product-page #wallet{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #272727;
    border: 1px solid #434343;
    padding: 5px 10px;
    z-index: 50;
    min-width: 150px;
}

.shop-page #wallet .wallet-title, .product-page #wallet .wallet-title{
    color: #aaa;
}
.shop-page #wallet .wallet-content, .product-page #wallet .wallet-content{
    color: #aaa;
}

.shop-page #wallet .wallet-content .credits, .product-page #wallet .wallet-content .credits{
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    color: #fff;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 40px;
    line-height: 40px;
    height: 40px;
    display: block;
}

.shop-page #wallet .wallet-content img, .product-page #wallet .wallet-content img{
    color: #aaa;
}
.shop-page #wallet .wallet-content .credits a.btn, .product-page #wallet .wallet-content .credits a.btn{
    margin-top: 3px;
}

.shop-page .product{
    min-height: 180px;
    max-width:260px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #434343;
    margin: 10px auto;
    overflow: hidden;
}

.shop-page .product .product-image{
    display: none;
}

.shop-page .product-title{
    font-size: 20px;
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    color: #fff;
    text-align: center;
}
.shop-page .product-bottom{
    position: absolute;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    color: #fff;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0.9) 35%, rgba(255, 255, 255, 0) 90%);
    background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.9) 35%, rgba(255, 255, 255, 0) 90%);
    background: -o-linear-gradient(270deg, rgba(0, 0, 0, 0.9) 35%, rgba(255, 255, 255, 0) 90%);
    background: -ms-linear-gradient(270deg, rgba(0, 0, 0, 0.9) 35%, rgba(255, 255, 255, 0) 90%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 35%, rgba(255, 255, 255, 0) 90%);
}
.shop-page .product-infos{
    line-height: 44px;
}
.shop-page .product-infos .old_price{
    text-decoration: line-through;
    font-family: "Lato-Regular",Arial,Verdana,sans-serif;
    font-style: italic;
}


.shop-page .product-bottom .flashsale{
    padding: 0 10px;
    display: block;
    position: absolute;
    width: 100%;
}
.shop-page .product-bottom .stock{
    padding-right: 10px;
}

.shop-page .product-bottom .product-actions{
    padding: 0 10px;
}
.shop-page .product-bottom .btn{
    padding: 6px 6px;
}

#head-cart{
    margin-bottom: 20px;
}

#head-cart .cart-title{
    font-size: 20px;
    color: #d6d6d6;
}
#head-cart .cart-content{
    background-color: #272727;
    border: 1px solid #434343;
    padding: 5px 10px;
}
#head-cart .cart-products{
    position: relative;
    width: 83%;
    float: left;
    padding: 0 15px 0 5px;
}
#head-cart .cart-valid{
    width: 17%;
    float: right;
}
#head-cart .cart-products .item-cart{
    width: 20%;
    float: left;
    padding: 0 5px;
}
#head-cart .cart-products .slick-arrow{
    position:absolute;
    top: 30px;
    z-index: 200;
}
#head-cart .cart-products .slick-arrow.arrow-left{
    left:-6px;
}
#head-cart .cart-products .slick-arrow.arrow-right{
    right:5px;
}

#head-cart .cart-products .cart-product{
    height: 66px;
    margin: 1px 0;
}

#head-cart .cart-products .cart-product.empty-slot{
    border: 1px dashed #5d5d5d;
}

#head-cart .cart-products .cart-product .product-image{
    position: relative;
    float: left;
    margin-right: 5px;
}

#head-cart .cart-products .cart-product .product-image .fake-image{
    display: block;
    height: 68px;
    width: 68px;
    background-color: #383838;
}


#head-cart .cart-products .cart-product .product-image .remove-product{
    position: absolute;
    bottom: 2px;
    left: 2px;
    cursor: pointer;
    font-size: 10px;
}
#head-cart .cart-products .cart-product .cart-product-content{
    padding: 14px 0;
    font-size: 14px;
}
#head-cart .cart-products .cart-product .cart-product-content .cart-product-title{
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    display: block;
}
#head-cart .cart-products .cart-product .cart-product-content .cart-product-price{
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    display: block;
}
#head-cart .cart-valid .btn{
    width: 100%;
    margin-top: 3px;
}
#head-cart .cart-valid .cart-total{
    display: block;
    text-align: center;
    line-height: 30px;
}

.product-page{
    position: relative;
}

.product-page .product-image{
    text-align: center;
}

.product-page .product-content{
    margin: 20px 0;
}

.product-page .product-actions .btn-orange{
    margin-left: 40px;
}

.product-page .stock{
    margin-left: 20px;
}

.product-page .product-page-col2{
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #434343;
    margin: 10px auto;
    padding: 30px;
}

.product-page .product-price{
   text-align: center;
}

.product-page .product-price .promo, .product-page .product-price .old_price{
    font-size: 20px;
    color: #aaaaaa;
}

.product-page .product-price .old_price{
    text-decoration: line-through;
}

.product-page .product-price .stock{
    font-family: "Lato-Light", Arial, Verdana, sans-serif;
    font-size: 20px;
}

.product-page .product-content{
    font-size: 16px;
    color: #d6d6d6;
}

.product-page .product-infos .product-flash-sale{
    font-size: 16px;
    color: #aaaaaa;
}
.validation-cart-table select{
    background-color: #262626;
    color: #d6d6d6;
    line-height: 20px;
    padding: 2px;
    height: 30px;
    width: 100%;
}
.validation-cart-table > tbody > tr:hover {
    background-color: rgb(75, 118, 160);
}
.validation-cart-table th.empty{
    border-top: none;
}

/* END Shop */
/**** Payment ****/
#selectPaymentExtension select{
    background-color: #262626;
    color: #d6d6d6;
    line-height: 20px;
    padding: 2px;
    height: 30px;
    width: 100%;
}

#selectPaymentExtension .row, #selectPaymentPack .row{
    margin-bottom: 10px;
}

#selectPaymentPack .btn{

}
#paymentFormContainer{
    margin-top: 25px;
}
#paymentFormContainer .date_separator{
    line-height: 32px;
    display: block;
    font-weight: bold;
    padding: 0 10px;
}
#paymentFormContainer .btn{
    width: 50%;
}
#paymentFormContainer.widget iframe{
    background-color: #000;
    width: 570px;
    height: 600px;
    margin-top: -40px;
}

.paiement-page .details{
    padding-top: 20px;
}

.paiement-page .details .page-subtitle{
    padding-bottom: 20px;
}

.paiement-page .details ul{
    margin: 0;
    padding: 0;
}
.paiement-page .details li{
    padding: 5px 0;
    text-align: center;
}
.paiement-page .details li .label{
    display: inline;
    font-size: 12px;
    font-weight: bold;
    color: #d6d6d6;
    text-align: left;
}
    /* END Payment */

/**** Forums ****/

.forum-lang-wrapper{
    display: inline;
}

.forum-page .title-1-light, .show-forum-page .title-1-light{
    margin: 10px 0 30px 0;
}

.forum-page .forum-menu div.category, .show-forum-page .forum-menu div.category{
    height: 51px;
    width: 141px;
    float:left;
    cursor: pointer;
    position: relative;
}

.forum-menu .category.active, {
    border: 1px solid #4b76a0;
}
.forum-menu .category.active:after{
    content:"\f00c";
    color: #fff;
    width: 15px;
    height: 15px;
    position:absolute;
    bottom: 0;
    right: 0;
    font-family: FontAwesome;
    padding: 1px;
    background-color: #4b76a0;
    line-height: 15px;
}


.forum-page .forum-menu .forum-vanilla, .show-forum-page .forum-menu .forum-vanilla{
    background: url('../images/homepageContent/home_nav_vanilla.jpg') no-repeat;
}

.forum-page .forum-menu .forum-burning-crusade, .show-forum-page .forum-menu .forum-burning-crusade{
    background: url('../images/homepageContent/home_nav_burning_crusade.jpg') no-repeat;
}

.forum-page .forum-menu .forum-wotlk, .show-forum-page .forum-menu .forum-wotlk{
    background: url('../images/homepageContent/home_nav_wotlk.jpg') no-repeat;
}

.forum-page .forum-menu .forum-cataclysm, .show-forum-page .forum-menu .forum-cataclysm{
    background: url('../images/homepageContent/home_nav_cataclysm.jpg') no-repeat;
}

.forum-page .forum-menu .forum-mysts-of-panderia, .show-forum-page .forum-menu .forum-mysts-of-panderia{
    background: url('../images/homepageContent/home_nav_mysts_of_panderia.jpg') no-repeat;
}

.forum-page .forum-menu .forum-warlords-of-dreanor, .show-forum-page .forum-menu .forum-warlords-of-dreanor{
    background: url('../images/homepageContent/home_nav_warlords_of_dreanor.jpg') no-repeat;
}

.forum-page .forum-menu .forum-legion, .show-forum-page .forum-menu .forum-legion{
    background: url('../images/homepageContent/home_nav_legion.jpg') no-repeat;
}

.forum-page .forum-menu div.category, .show-forum-page .forum-menu div.category{
    position: relative;
}
.forum-page .forum-menu div.category a{
    display: block;
    height: 100%;
}
.forum-page .forum-menu div span, .show-forum-page .forum-menu div span{
    width: 75%;
    position:absolute;
    top: 2px;
    left: 10px;
    color: #fff;
}

.forum-page .forum-content{
    margin-top: 30px;
    padding: 0 20px;
}

.forum-page .forums-toggles, .show-forum-page .forums-toggles{
    margin: 30px 5px;
}

.forum-page .forum-lang-name, .show-forum-page .forum-lang-name{
    margin: 0 20px 0 5px;
    color: #d6d6d6;
    font-size: 14px;
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
}

.forum-page .forum-extension-name{
    color: #d6d6d6;
    font-size: 20px;
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgba(214,214,214,0.1);
}

.forum-page .kingdom-title, .forum-page .forum-nb-forums, .forum-page .forum-nb-messages{
    border-bottom: 1px solid rgba(214,214,214,0.1);
    padding: 20px 0 20px 0;
    color: #d6d6d6;
    font-size: 14px;
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
}

.show-forum-page .forum-menu .category a{
    display: block;
    width: 100%;
    height: 100%;
}

.show-forum-page #forum-content{
    padding: 0 20px;
}

.tab-entete-row{
    border-bottom: 1px solid rgba(214,214,214,0.1);
    padding: 0 0 5px 0;
}

.tabbody-row{
    padding: 25px 0 25px 0;
    border-bottom: 1px solid rgba(214,214,214,0.1);
}

.back-forum{
    margin-left : 10px;
    font-family: "Lato-Light", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #d6d6d6;
}

.show-forum-page .forum-extension-name, .show-forum-page .forum-kingdom-name, .show-forum-page .forum-subject-name{
    text-decoration: underline;
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    font-size: 20px;
    color: #d6d6d6;
}

.show-forum-page .forum-extension-title{
    margin-bottom: 20px;
}

.show-forum-page .forum-infos-message{
    padding: 0 0 5px 0;
    border-bottom: 1px solid rgba(214,214,214,0.1);
}

.show-forum-page .message-content{
    padding: 10px 0 40px 0;
}

.show-forum-page .item-message{
    margin-bottom: 40px;
}

.show-forum-page .item-message-avatar{
    margin: 0 0 15px 0;
}

.show-forum-page .item-message-avatar img.avatar{
    width: 140px;
    margin: auto;
}

.show-forum-page .infos-forum-subject{
    margin: 0 0 20px 0;
}

.show-forum-page .infos-forum-subject .infos-forum-subject-last-message{
    margin: 0 10px;
}

.tab-forums.entete, .show-forum-page .subject-title{
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #d6d6d6;
}

.tab-forums.tabbody.title{
    font-family: "Lato-Bold", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #aaaaaa;
}

.tab-forums.tabbody.messages,
.show-forum-page .infos-forum-subject:not(.infos-forum-subject-author-name),
.show-forum-page .forum-infos-message .message-date-time,
.show-forum-page .forum-infos-message .message-number{
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #d6d6d6;
}

.tab-forums.tabbody.author, .show-forum-page .infos-forum-subject .infos-forum-subject-author-name{
    font-family: "Lato-Ialic", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #4a769f;
}

.show-forum-page .forum-infos-user .item-message-name{
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    font-size: 20px;
    color: #d6d6d6;
}

.show-forum-page .forum-infos-user .item-message-lvl, .show-forum-page .forum-infos-user .item-message-guild, .show-forum-page .message-content{
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #aaaaaa;
}

/*.input-search input::-webkit-input-placeholder {
    font-family: "Lato-Regular", Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #272727;
}*/
/**** END Forums ****/


/* Footer */

.footer-wrapper{
    background: rgb(28, 28, 28);
    background: -moz-linear-gradient(270deg, rgb(28, 28, 28) 50%, rgba(255, 255, 255,0) 100%);
    background: -webkit-linear-gradient(270deg, rgb(28, 28, 28) 50%, rgba(255, 255, 255,0) 100%);
    background: -o-linear-gradient(270deg, rgb(28, 28, 28) 50%, rgba(255, 255, 255,0) 100%);
    background: -ms-linear-gradient(270deg, rgb(28, 28, 28) 50%, rgba(255, 255, 255,0) 100%);
    background: linear-gradient(0deg, rgb(28, 28, 28) 50%, rgba(255, 255, 255,0) 100%);
    padding: 50px 0;
}

.page-footer .row{
    display: flex;
}

.page-footer .col-si{
    margin: auto;
}

.page-footer ul{
    padding: 0;
}

.page-footer .links, .page-footer .links li a{
    color: rgba(176,176,176,0.5);
}

.page-footer .blizzard-advertisement, .page-footer .copyright, .page-footer .links-mentions, .page-footer .links-mentions li a{
    color: rgb(176,176,176);
}

.page-footer .links li, .page-footer .links-mentions li{
    float: left;
}

.page-footer .links li+li::before, .page-footer .links-mentions li+li::before{
    content: "\a0\7C\a0";
}

.page-footer .links, .page-footer .links-mentions{
    padding-bottom: 30px;
}

.page-footer .blizzard-advertisement{
    padding-bottom: 10px;
}

/* END Footer */

/************************************************************* RESPONSIVE *************************************************************
***************************************************************************************************************************************/

@media only screen and (max-width: 1200px){

    #header .logo a {
        top: -30px;
    }
    #header.logo-only .logo a {
        top: -60px;
    }

    #header ul.links.right li.adjustLi, #header ul.links.left li.adjustLi{
        width: 40px;
    }
    #header .logo {
        width: 180px;
    }
    #header .logo img {
        width: 100%;
    }

    .account-page .nav-tabs > li {
        width: 180px;
    }

    .homepage-states span {
        padding: 0 10px 0 0;
    }

    .homepage-videos .dl-launcher .title {
        font-size: 25px;
    }

    .actu-content .first-row{
        margin-bottom: 50px;
    }

    .page-wrapper .actu-content .actu-big-image {
        float: left;
        margin-right: 20px;
    }

    .homepage-videos .dl-launcher {
        margin-top: 20px;
    }

    .homepage-videos .dl-launcher .button{
        float: left;
        margin-left: 20px;
    }

    .vote-page .vote-site-wrapper .vote-site-img img{
        height: auto;
        max-width: 200px;
    }

    .vote-page .vote-site-wrapper .vote-site-img {
        height: auto;
    }
    .post-index .actu-menu {
        height: auto;
    }
    .post-index .actu-menu .actu {
        width: 142px;
    }

    #head-cart .cart-products{
        width: 75%;
    }
    #head-cart .cart-valid{
        width: 25%;
    }
}

@media only screen and (max-width: 992px){

    #header.logo-only {
        margin-bottom: 0px;
    }
    #header.logo-only .nav-wrapper{
        height: 60px;
    }

    #header.logo-only .logo {
        float: none;
    }
    
    .header-wrapper .nav-wrapper .links{
        display: none;
    }

    .navbar-toggle {
        display: block;
        margin-right: 0;
        padding: 9px 0;
    }

    .navbar-collapse.collapse {
        display: none !important;
        float: right;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
        float: right;
    }

    .navbar-collapse ul{
        background-color: rgba(0,0,0,0.5);
    }

    .navbar-collapse ul li.orange-bg{
        background-color: #df5f2e;
        font-family: "Lato-Bold", Arial, Verdana, sans-serif;
        text-transform: uppercase;
    }

    .nav > li > a {
        padding: 10px 20px;
    }

    .account-page .nav-tabs > li {
        width: auto;
    }

    #header .logo{
        float: left;
    }

    #header .logo img{
        width: 80%;
    }

    .nav-wrapper{
        position: relative;
        height: 90px;
    }

    .collapsing{
        display: block;
        float: right;
    }

    .navbar-collapse{
        border-top: none;
        box-shadow: none;
    }


    .social-icons li{
        float: left;
        padding: 0 0 0 20px;
    }
    
    .actu-content .date{
        float: none;
    }

    .actu-content .small-actu-1 .date,
    .actu-content .small-actu-2 .date,
    .actu-content .small-actu-3 .date{
        margin-left: 10px;
    }


    .page-wrapper .actu-content .read-more{
       margin-top: 10px;
    }

    .vote-page .vote-button-span .ivote{
        font-size: 15px;
    }

    .vote-page .vote-button-span .votepoints{
        font-size: 11px;
    }

    .vote-page .vote-site-wrapper .vote-site-img{
        height: auto;
    }

    .vote-page .help{
        float: none;
    }

    #head-cart .cart-products{
        width: 67%;
    }
    #head-cart .cart-valid{
        width: 33%;
    }

    .product-page #wallet{
        width: 100%;
        position: relative;
        right: initial;
        top: initial;
        margin: 10px 0;
    }
}

@media only screen and (min-width : 992px) and (max-width: 1200px){
    .show-ticket-page .answer-ticket, .show-ticket-page .see-all-tickets{
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px){

    #header .row.ht {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    #frontend-navbar-collapse{
        position: absolute;
        z-index: 50;
        right: 40px;
    }

    #frontend-navbar-collapse .navbar-nav{
        width: 205px;
        margin: 15px -15px;
    }

    .nav-wrapper form.form-login {
        right: 255px;
        top: 15px;
    }

    .nav > li > a {
        padding: 10px 8px;
    }

    .page-wrapper .actu-content .actu-big-image{
        float: none;
        text-align: center;
    }

    .page-wrapper .actu-content .actu-big-content .read-more{
        width: 120px;
        margin: 5px auto 50px;
        float: none;
    }

    .page-wrapper .actu-content .actu-big-content .date{
        margin-left: 10px;
    }

    .ticket-page .request-wrapper .col-sm-3{
        margin-top: 20px;
    }

    #head-cart .cart-products{
        width: 50%;
    }
    #head-cart .cart-valid{
        width: 50%;
    }
    #brick-creditcard-form{
        max-width: 300px;
        margin: auto;
    }
}


@media only screen and (max-width: 620px){
    .homepage .header-wrapper{
        background-position: center top;
        background-size: auto 100%;
    }

    .account-page .nav-tabs > li {
        float: none;
        width: 50%;
        margin: 10px auto;
    }
    .account-page .tab-content {
         margin: 0 0px;
    }

    #header .states .col-xs-8{
        width: 100%;
    }

    #header .states .col-xs-4{
        width: 100%;
    }

    .homepage-videos .col-xs-5{
        width: 50%
    }

    .homepage-videos .col-xs-offset-1{
        margin: 0;
    }

    .homepage-videos .col-xs-11{
        width: 100%
    }

    .homepage-videos .col-xs-offset-1{
        margin: 0;
    }

    .homepage-videos .dl-launcher {
        background: url('../images/header/telecharger_launcher.jpg') no-repeat;
    }

    .actu-content .small-actu-1 .col-xs-3,
    .actu-content .small-actu-2 .col-xs-3,
    .actu-content .small-actu-3 .col-xs-3{
        width: 35%;
    }

    .actu-content .small-actu-1 .col-xs-9,
    .actu-content .small-actu-2 .col-xs-9,
    .actu-content .small-actu-3 .col-xs-9{
        width: 65%;
    }

    .account-page .characters .character .avatar {
        width: 100px;
    }
    .account-page .characters .character .character_server_infos {
         width: 120px;
    }

    .page-footer .row {
        display: block;
    }

    .page-footer .col-sm-3,
    .page-footer .col-sm-6{
        width: 100%;
    }

    .footer-wrapper{
        padding: 0;
    }

    .page-footer #footer-logo{
        text-align: center;
    }

    .vote-page .vote-site-wrapper{
        display: block;
        height: auto;
    }

    .vote-page .vote-site-vote-button .ivote{
        display: inline;
        padding-right: 5px;
    }
    .vote-page .vote-site-vote-button{
        margin-top: 10px;
    }

    .vote-page .vote-site-wrapper .vote-site-img{
        text-align: center;
    }
    .post-page .actu .page-subtitle .date{
        display: block;
        float: none;
        text-align: right;
    }

    .forum-page .tab-forums, .show-forum-page .tabbody-row{
        margin-bottom: 50px;
    }

    .input-search{
        margin: 0 0 10% 15%;
    }

    .tab-forums.entete:nth-child(3), .tab-forums.tabbody:nth-child(3), .tab-forums.entete:nth-child(4), .tab-forums.tabbody:nth-child(4){
        display: none;
    }

    .tab-forums.entete:nth-child(1), .tab-forums.tabbody:nth-child(1){
        width: 75%;
    }

    .tab-forums.entete:nth-child(2), .tab-forums.tabbody:nth-child(2){
        width: 25%;
        padding-left: 0;
    }
}

@media only screen and (max-width: 513px){
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-wrapper form.form-login {
        right: 27%;
        top: 15px;
    }

    .actu-content .small-actu-1 .date, .actu-content .small-actu-2 .date, .actu-content .small-actu-3 .date {
        margin-left: 0;
    }

    .homepage-videos .col-xs-5{
        width: 60%;
        margin: 20px auto;
        float: none;
    }

    .homepage-videos .col-xs-offset-1{
        margin: 0 auto;
    }

    .homepage-videos .dl-launcher .title {
        font-size: 23px;
    }

    .homepage-videos .dl-launcher .button a {
        font-size: 24px;
    }

    .homepage-videos .dl-launcher ul li {
        font-size: 16px;
    }

    #header .states .social-icons{
        width: 50%;
        margin: 20px auto;
        float: none;
    }

    #slider-nav .col-xs-offset-5{
        margin-left : 32%;
    }

    .title-1 {
        font-size: 25px;
    }

    .account-page .characters .character .character_server_infos{
        width: 100%;
        height: 80px;
        position: relative;
    }
    .account-page .characters .character .server_logo{

        width: 120px;
        float: right;
        position: absolute;
        right: 0;
        top: 0;
    }
    .homepage-videos .small-video {
        height: auto;
    }

    .forum-page .forum-nb-forums, .forum-page .forum-nb-messages{
        width: 50%;
        padding: 0 0 10px 0;
    }

    .forum-page .kingdom-title{
        width: 100%;
        border-bottom: none;
    }

    .forum-infos-user{
        margin-bottom: 20px;
    }
    
    .back-forum{
        display: block;
        margin: 10px 0;
    }
    .shop-page #wallet{
        width: 100%;
        position: relative;
        right: initial;
        top: initial;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 420px){

    .account-page .nav-tabs > li {
        width: 100%;
    }

    #header .states .homepage-states span{
       display: block;
    }

    .homepage-videos .col-xs-5 {
        width: 75%;
    }

    .homepage-videos .dl-launcher .title {
        font-size: 19px;
    }

    .title-1 {
        font-size: 22px;
    }

    .actu-content .small-actu-1 .col-xs-3,
    .actu-content .small-actu-2 .col-xs-3,
    .actu-content .small-actu-3 .col-xs-3,
    .post-index .actu .actu-image
    {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .actu-content .small-actu-1 .col-xs-9,
    .actu-content .small-actu-2 .col-xs-9,
    .actu-content .small-actu-3 .col-xs-9,
    .post-index .actu .col-xs-9 {
        margin: 0 auto;
        float: none;
    }

    .actu-content .small-actu-1 .read-more,
    .actu-content .small-actu-2 .read-more,
    .actu-content .small-actu-3 .read-more,
    .post-index .actu .read-more{
        float: none;
    }
    .post-index .actu-menu .actu {
        width: 142px;
        float: none;
        margin: auto;
    }
    .page-footer .social-icons{
        margin-top: 20px;
    }
    
    .post-page .comment .col-xs-9,
    .post-page form.post-comment-form .col-xs-9{
        padding: 0;
    }

    .forum-toggles .forum-lang-name{
        width: 75%;
    }

    .forum-lang-wrapper{
        display: block;
        margin-bottom: 10px;
    }

    #head-cart .cart-products{
        width: 100%;
    }
    #head-cart .cart-valid{
        width: 100%;
    }

    .product-page .product-actions .btn{
        width: 100%;
    }
    .product-page .product-actions .btn-orange{
        margin: 10px 0;
    }


}