*{
	margin:0px;
	padding:0px;
	font-family: helvetica Neue;
	font-weight: lighter;
}

html,body{
	background-color: #e2e2e2;
}

section#formulario{
	position: absolute;
	width:400px;
	min-height: 100px;
	top:50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
	background-color: white;
	overflow: hidden;
	border-radius: 5px;
}

p#titulo{
	font-size: 1.6em;
	text-align: center;
	margin-top: 20px;
}

input[type="text"], input[type="password"]{
	width: 350px;
	height: 35px;
	margin-left: 20px;
	margin-top:10px;
	margin-bottom:10px;
	padding-left: 10px;
	font-size: 1.1em;
	outline: none;
	border:0px;
	background-color: #dcdcdc;
	border-radius: 5px;
	text-align: center;
}

input[type="submit"]{
	width:350px;
	height: 35px;
	margin-left:25px;
	margin-top: 10px;
	margin-bottom:10px;
	outline: none;
	border:0px;
	background-color: #75b6dc;
	color: white;
	font-size: 1.2em;
	border-radius: 5px;
	text-align: center;
}
button[type="submit"]{
	width:350px;
	height:35px;
	margin-left:25px;
	margin-top:10px;
	margin-bottom:10px;
	background-color: #75b6dc;
	outline:none;
	border:0px;
	color:white;
	font-size:1.2em;
	border-radius:5px;
	text-align:center;
}