*{ 
	margin:0px; padding:0px;
 } 

div#menu{ 

	width:200px;
	margin-top:50px; 
} 

div#menu ul{ 

	list-style:none; 
} 

div#menu ul li{

	margin-top:20px;
	background-color:#639bb3;
	width:100px;
	padding-top:10px;
 	padding-bottom:10px; 
	border-radius:0px 20px 20px 0px;
	padding-left:20px; 
	box-shadow:5px 0px 10px #939393;
	-webkit-transition:padding-left 0.5s;
 	-moz-transition:padding-left 0.5s;
	color:white; 
} 

div#menu ul li:hover{

 padding-left:50px;
 
}