	@charset "utf-8";
	/* Documento CSS - TigalSoft 2016
	*/
	
	/* Valores General */
	*{
		margin:0px;
		padding:0px;
	}
	html { height:100%; }
	body {height:100%; margin: 0; padding: 0; font-family:Arial, Helvetica, sans-serif; color:white;}
	a {color: #01b2f1; text-decoration: none; }
	a:hover {color: #FFFFFF;}
	a {
	outline: none;
	 -webkit-tap-highlight-color: #010E16;
	}
	
	/* Valores subpagenav */	
	.subpagenav					{ width: 980px; margin: 20px auto 0; display: block; clear: both;}
	.subpagenav .top			{ background: url(../img/layouts/subpagenav-top.jpg); background-position: top left; background-repeat: no-repeat; width: 980px; height: 34px;}
	.subpagenav .top a.section  	{ padding: 9px 0 0 27px; font-size: 12px; text-transform:uppercase; display: block; color: #FFFFFF;}
	.subpagenav .top a.section:hover 	{ color: #82B8CB; }
	.subpagenav .bottom			{ background: url(../img/layouts/subpagenav-bottom.jpg); background-position: top left; background-repeat: no-repeat; width: 980px; height: 15px;}
	.subpagenav .middle			{ background: url(../img/layouts/subpagenav-middle.jpg); background-position: top left; background-repeat: no-repeat; width: 980px; height: 120px; font-size: 11px; line-height: 16px;}
	.subpagenav .column1		{ background: url(../img/layouts/subpagenav-line1.gif); background-position: top right; background-repeat: no-repeat; width: 311px; float: left; height: 120px;}
	.subpagenav .column2		{ background: url(../img/layouts/subpagenav-line2.gif); background-position: top right; background-repeat: no-repeat; width: 311px; float: left; height: 120px; }
	.subpagenav .column3		{ background: url(../img/layouts/subpagenav-line3.gif); background-position: top right; background-repeat: no-repeat; width: 180px; float: left; height: 120px;}
	.subpagenav .column4		{ width:178px; float:left;  height: 120px;}
	
	.subpagenav .middle a.title { color:#82B8CB; top:15px; left: 24px; position: relative; display:block;}
	.subpagenav .middle a.title:hover { color: #FFFFFF; }
	.subpagenav .middle .block1 { width:130px; margin:26px 0 0 25px; float: left;}
	.subpagenav .middle .block2 { width:150px; margin:26px 0 0 0; float: left;