	@charset "utf-8";
	/* Documento CSS - TigalSoft 2016 */
	
	/* Valores General */
	*{
		margin:0px;
		padding:0px;
	}
	html { height:100%; }
	body {height:100%;background-color:#010e16; margin: 0; padding: 0; font-family:Arial, Helvetica, sans-serif; color:white;}
	a {color: #01b2f1; text-decoration: none; }
	a:hover {color: #FFFFFF;}
	a {
	outline: none;
	 -webkit-tap-highlight-color: #010E16;
	 -moz-tap-highlight-color:#010E16;
	}
	
	/* Valores subpagenav recuadro */	
	.subpagenav	{ width: 980px; margin: 20px auto 0; display: block; clear: both;}
	.subpagenav .top	{ background: url(../img/layouts/subpagenav-top.jpg); background-position: top left; background-repeat: no-repeat; width: 980px; height: 34px;}
	.subpagenav .top a.section { padding: 9px 0 0 27px; font-size: 12px; text-transform:uppercase; display: block; color: #FFFFFF;}
	.subpagenav .top a.section:hover 	{ color: #82B8CB; }
	.subpagenav .bottom	{ background: url(../img/layouts/subpagenav-bottom.jpg); background-position: top left; background-repeat: no-repeat; width: 980px; height: 15px;}
	.subpagenav .middle	{ background: url(../img/layouts/subpagenav-middle.jpg); background-position: top left; background-repeat: no-repeat; width: 980px; height: 120px; font-size: 11px; line-height: 16px;}
	.subpagenav .column1 { background: url(../img/layouts/subpagenav-line1.gif); background-position: top right; background-repeat: no-repeat; width: 311px; float: left; height: 120px;}
	.subpagenav .column2	{ background: url(../img/layouts/subpagenav-line2.gif); background-position: top right; background-repeat: no-repeat; width: 311px; float: left; height: 120px; }
	.subpagenav .column3	{ background: url(../img/layouts/subpagenav-line3.gif); background-position: top right; background-repeat: no-repeat; width: 180px; float: left; height: 120px;}
	.subpagenav .column4	{ width:178px; float:left;  height: 120px;}
	
	.subpagenav .middle a.title { color:#82B8CB; top:15px; left: 24px; position: relative; display:block;}
	.subpagenav .middle a.title:hover { color: #FFFFFF; }
	.subpagenav .middle .block1 { width:130px; margin:26px 0 0 25px; float: left;}
	.subpagenav .middle .block2 { width:150px; margin:26px 0 0 0; float: left;}
	
	/* Valores pié de página social */
	
	.footercontainer { background-image:url(../img/layouts/footerbg.gif); background-repeat: no-repeat; background-position: top center; background-color: #010E16; width: 100%; height: 190px; padding: 155px 0 0 0;}
	.footer { clear: both; margin: 0 auto; width: 980px; }
	.footer .footercontents { width: 100%; clear: none; height: 60px;}
	.footer .footercontents .footercontents_int { color: #FFF; font-size: 11px; text-align: center;}
	.footer .ratings {margin: 55px auto 45px; clear: both; width: 980px; border-top: 1px #1c2a34 solid; padding: 20px 0 20px 0;}
	.footer .ratings .main-footer-facebook a { padding: 2px 10px 10px 10px; width: 31px; height: 31px; background-image:url(../img/social/facebook-social.png);}
	.footer .ratings .main-footer-twitter a { padding: 2px 10px 10px 10px; width: 31px; height: 31px; background-image:url(../img/social/twitter-social.png);}
	.footer .ratings .main-footer-youtube a { padding: 2px 10px 10px 10px; width: 31px; height: 31px; background-image:url(../img/social/youtube-social.png);}
	.footer .ratings .main-footer-twitch a { padding:2px 10px 10px 10px; width:31px; height:31px; background-image:url(../img/social/twitch-social.png);}
	.footer .ratings .main-footer-googleplus a { padding:2px 10px 10px 10px; width:31px; height:31px; background-image:url(../img/social/googleplus-social.png);}
    .footer .ratings .block7 { width:250px; margin:0 0 0 0px; float: left;}
	.footer .ratings  .socialnetworking { padding: 0; margin:0;}
	.footer .ratings  .socialnetworking li { display: inline-block;}
    .footer .ratings  .socialnetworking li a {display: block; background-position: 0 0; background-repeat: no-repeat; height: 34px; width: 2px;}
    .footer .ratings  .ratings-title  { color: rgb(52, 73, 86); font-size: 11px; position: relative; bottom: 5px; padding-right: 5px; display: inline-block; font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;}