*{
  margin: 0px;
  padding: 0px;
}
body{
  background: #ffffff;
  margin: 0;
  padding: 20px;
  line-height: 1.4em;
  font-family: tahoma, arial, sans-serif;

}

table {
  width: 80%;
  margin: 0;
  background: #FFFFFF;
  border: 1px solid black;

}

td, th {
  border-bottom: 1px solid black;
  padding: 6px 16px;
  text-align: center;
}

th {
  background: #0000ff;
  color: white;
}

caption {
  background: #000099;
  color: white;
  border: 1px solid #333333;
  border-bottom: none;
  padding: 6px 16px;
  font-weight: bold;
}
