*{
  margin:0px;
  padding: 0px;
}
.cap{
  background-image: url("../img/fons.jpg");
  width: 100%;
  transition: all .5s;
}
.cap2{
  height: 100px;
  width: 100%;
  background-color: black;
  transition: all .5s;
}
.titol{
  text-align: center;
  font-size: 100px;
  margin-bottom: 100px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-align: center;
    color: initial;
    margin: auto;
    margin-bottom: 50px;
    display: block;
    width: 50%;
    height: auto;
    padding: 25px;
}
a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}



.sec {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.subSec{
  height: 25%;
  background-color: white;
}
.secU{
  background-image: url("../img/support.jpg");
}
.secDos{
  background-image: url("../img/email.jpeg");
}
.secTres{
  background-image: url("../img/gestio.jpg");
}
.secQua{
  background-image: url("../img/gestio.jpg");
}

.cos{

}
