*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
table, td{
  width: 30%;
  border: 1px solid black;
  text-align: center;
}
.foto{
  float: left;
  width: 50%;
  padding: 5px;
}
.table2{
  width: 100%;
}
